h1 {
    line-height: 64px;
    text-align: center;
}
.temp_p {
    text-align: center;
}
.error_404 {
    text-align: center;
    margin-top:120px;
}
.error_404 p {
    line-height:36px;
    font-size: 16px;
    color: #333;
}